$clr-primary-400: hsl(252, 67%, 57%);
$clr-primary-800: hsl(252, 30%, 15%);
$clr-accent-400: hsl(171, 87%, 50%);
$clr-neutral-100: hsl(0, 100%, 100%);
$clr-neutral-200: hsl(246, 12%, 80%);
$clr-neutral-900: hsl(0, 0%, 0%);

body {
  color: $clr-neutral-200;
  background: $clr-primary-800;
  font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: $clr-neutral-100;
  line-height: 1.1;
}

.container {
  width: min(100% - 2rem, 50rem);
  margin-inline: auto;
}

.accent-text {
  color: $clr-accent-400;
}

.link {
  color: $clr-neutral-200;

  &:hover,
  &:focus {
    color: $clr-accent-400;
  }
}