@use "../abstracts" as *;

.dropdown {
  position: relative;

  &__title {
    color: $navigation-color;
    text-decoration: $navigation-link-text-decoration;
    cursor: pointer;
    display: flex;
    gap: $fluid-size-3xs;

    &:is(:hover, :focus) {
      color: $navigation-color-hover;
      svg {
        fill: $navigation-color-hover;
      }
    } 

    svg {
      width: 1.4rem;
      height: auto;
      fill: $navigation-color;
    }
  }

  &__menu {
    --flow-spacer: #{$fluid-size-2xs};
    position: absolute;
    list-style: none;
    border: 1px solid $color-neutral-400;
    border-radius: $border-radius-1;
    background-color: $color-neutral-200;
    text-transform: none;
    padding: $fluid-size-xs $fluid-size-s;
    margin-top: $fluid-size-xs;
    font-weight: $font-weight-default;
  }

  &__menu-item {
    white-space: nowrap;
  }
}