@use '../abstracts/' as *;

.hero {
  overflow: clip;
  min-height: 100vh;

  &__intro {
    display: grid;
    gap: var(--grid-gap, $grid-gap);

    @include mq(medium) {
      grid-template-columns: 3fr 2fr;
      align-items: center;
    }
  }

  &__image {
    max-width: 20rem;
    margin-inline: auto;
    position: relative;

    @include mq(medium) {
      max-width: 100%;
      order: 1;
    }
  }
}
