@use "../abstracts" as *;

.primary-navigation {
  --flex-column-gap: #{$navigation-gap};
  list-style: none;
  font-family: $navigation-font-family;
  font-weight: $navigation-font-weight;
  font-size: $navigation-font-size;
  text-transform: $navigation-text-transform;

  &__links {
    list-style: none;
  }

  a {
    color: $navigation-color;
    text-decoration: $navigation-link-text-decoration;

    &:is(:hover, :focus) {
      color: $navigation-color-hover;
    }
  }
}