// global color tokens
$-clr-white: hsl(0 0% 100%);
$-clr-black: hsl(0 0% 0%);

$-clr-blue-100:hsl(240, 58%, 90%);
$-clr-blue-200:hsl(240, 58%, 82.5%);
$-clr-blue-300:hsl(240, 58%, 70%);
$-clr-blue-400:hsl(240, 58%, 60%);
$-clr-blue-500:hsl(240, 58%, 50%);
$-clr-blue-600:hsl(240, 58%, 40%);
$-clr-blue-700:hsl(240, 58%, 30%);
$-clr-blue-800:hsl(240, 58%, 17.5%);
$-clr-blue-900:hsl(240, 58%, 7.5%);

$-clr-gray-100: hsl(210, 11%, 95%);
$-clr-gray-200: hsl(210, 11%, 82.5%);
$-clr-gray-300: hsl(210, 11%, 70%);
$-clr-gray-400: hsl(210, 11%, 60%);
$-clr-gray-500: hsl(210, 11%, 50%);
$-clr-gray-600: hsl(210, 11%, 40%);
$-clr-gray-700: hsl(210, 11%, 30%);
$-clr-gray-800: hsl(210, 11%, 17.5%);
$-clr-gray-900: hsl(210, 11%, 10%);

$-clr-green-100: hsl(144, 65%, 90%);
$-clr-green-200: hsl(144, 65%, 80%);
$-clr-green-300: hsl(144, 65%, 70%);
$-clr-green-400: hsl(144, 65%, 65%);
$-clr-green-500: hsl(144, 65%, 50%);
$-clr-green-600: hsl(144, 65%, 40%);
$-clr-green-700: hsl(144, 65%, 30%);
$-clr-green-800: hsl(144, 65%, 17.5%);
$-clr-green-900: hsl(144, 65%, 7.5%);

$light: (
  "neutral": (
    "000": $-clr-white,
    "100": $-clr-gray-100,
    "200": $-clr-gray-200,
    "300": $-clr-gray-300,
    "400": $-clr-gray-400,
    "500": $-clr-gray-500,
    "600": $-clr-gray-600,
    "700": $-clr-gray-700,
    "800": $-clr-gray-800,
    "900": $-clr-gray-900,
    "1000": $-clr-black,
  ),
  "accent": (
    "100": $-clr-green-100,
    "200": $-clr-green-200,
    "300": $-clr-green-300,
    "400": $-clr-green-400,
    "500": $-clr-green-500,
    "600": $-clr-green-600,
    "700": $-clr-green-700,
    "800": $-clr-green-800,
    "900": $-clr-green-900,
  ),
  "primary": (
    "100": $-clr-blue-100,
    "200": $-clr-blue-200,
    "300": $-clr-blue-300,
    "400": $-clr-blue-400,
    "500": $-clr-blue-500,
    "600": $-clr-blue-600,
    "700": $-clr-blue-700,
    "800": $-clr-blue-800,
    "900": $-clr-blue-900,
  ),
);

$dark: (
  "neutral": (
    "1000": $-clr-white,
    "900": $-clr-gray-100,
    "800": $-clr-gray-200,
    "700": $-clr-gray-300,
    "600": $-clr-gray-400,
    "500": $-clr-gray-500,
    "400": $-clr-gray-600,
    "300": $-clr-gray-700,
    "200": $-clr-gray-800,
    "100": $-clr-gray-900,
    "000": $-clr-black,
  ),
  "accent": (
    "900": $-clr-green-900,
    "800": $-clr-green-800,
    "700": $-clr-green-700,
    "600": $-clr-green-600,
    "500": $-clr-green-500,
    "400": $-clr-green-400,
    "300": $-clr-green-300,
    "200": $-clr-green-200,
    "100": $-clr-green-100,
  ),
  "primary": (
    "900": $-clr-blue-900,
    "800": $-clr-blue-800,
    "700": $-clr-blue-700,
    "600": $-clr-blue-600,
    "500": $-clr-blue-500,
    "400": $-clr-blue-400,
    "300": $-clr-blue-300,
    "200": $-clr-blue-200,
    "100": $-clr-blue-100,
  ),
);

// contextual color tokens
$color-neutral-000: var(--neutral-000);
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-300: var(--neutral-300);
$color-neutral-400: var(--neutral-400);
$color-neutral-500: var(--neutral-500);
$color-neutral-600: var(--neutral-600);
$color-neutral-700: var(--neutral-700);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);
$color-neutral-1000: var(--neutral-1000);

$color-primary-100: var(--primary-100);
$color-primary-200: var(--primary-200);
$color-primary-300: var(--primary-300);
$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-500);
$color-primary-600: var(--primary-600);
$color-primary-700: var(--primary-700);
$color-primary-800: var(--primary-800);
$color-primary-900: var(--primary-900);

$color-accent-100: var(--accent-100);
$color-accent-200: var(--accent-200);
$color-accent-300: var(--accent-300);
$color-accent-400: var(--accent-400);
$color-accent-500: var(--accent-500);
$color-accent-600: var(--accent-600);
$color-accent-700: var(--accent-700);
$color-accent-800: var(--accent-800);
$color-accent-900: var(--accent-900);